article {
    display: grid;
    grid-template-areas: 
        'empty aboutMe empty'
        'empty aboutMe empty';
    grid-template-columns: 35% 30% 35%;
    grid-template-rows: 15rem 15rem 15rem;
    text-align: left;
    background-image: url('rockWflowers.JPG');
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 1px 1px 20px black;
}

@media screen and (max-width:400px) {
    body {
        display: grid;
        grid-template-areas: 
            'header'
            'article'
            'footer';
        grid-template-columns: 100%;
        grid-template-rows: 2.5rem 1fr 2.5rem;
        color: white;
        text-shadow: 1px 1px 20px black;
    }
    article {
        grid-area: article;
        display: flex;
        align-items: flex-start;
        color: white;
        padding: 1rem;
    }
}